#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
  background-color: yellow;
}

#video-container {
  margin-top: 20px;
}

ul {
    align-items: center;
    box-align: center;
    display: inline-block;
    list-style-type: none;
    list-style-position: inside;
}

li {
  
  text-align: center;
  /*background-color: #4dc3ff;*/
  background-color: #362d2d;
  float: left;
  display:inline;
  box-align: center;
  list-style-type: none;
}

a {
  display: block;
  width: 100px;
  padding: 8px;
  color: #4dc3ff;
  display:inline;
}

a img {
  background-color: #4dc3ff;
}

body {
    background-color: #4dc3ff;
    font-family: "Lucida Console", Courier, monospace;
    align:center;
    text-align: center;
}

button {
    font-family: "Lucida Console", Courier, monospace;
}

#linx {
    background-color: #4dc3ff
}

img {
    background-color: #4dc3ff
}

#navigation {
    align: center;
    text-align: center;
    list-style-type: none;
    color:#4dc3ff;
    text-decoration-color: #4dc3ff;
    margin-right: 43px;
}

#one {
    display:hidden;
}

#parlink {
    color:#362d2d;
}

p {
    color: #362d2d;
}
